<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fdongl.point.mapper.MapCultivateFileMapper">
  <resultMap id="BaseResultMap" type="cn.fdongl.point.entity.MapCultivateFile">
    <!--@mbg.generated-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="file_id" jdbcType="VARCHAR" property="fileId" />
    <result column="college" jdbcType="VARCHAR" property="college" />
    <result column="cultivate_name" jdbcType="VARCHAR" property="cultivateName" />
    <result column="grade" jdbcType="VARCHAR" property="grade" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, file_id, college, cultivate_name, grade
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from map_cultivate_file
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from map_cultivate_file
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.fdongl.point.entity.MapCultivateFile">
    <!--@mbg.generated-->
    insert into map_cultivate_file (id, file_id, college, 
      cultivate_name, grade)
    values (#{id,jdbcType=VARCHAR}, #{fileId,jdbcType=VARCHAR}, #{college,jdbcType=VARCHAR}, 
      #{cultivateName,jdbcType=VARCHAR}, #{grade,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.fdongl.point.entity.MapCultivateFile">
    <!--@mbg.generated-->
    insert into map_cultivate_file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="fileId != null">
        file_id,
      </if>
      <if test="college != null">
        college,
      </if>
      <if test="cultivateName != null">
        cultivate_name,
      </if>
      <if test="grade != null">
        grade,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="fileId != null">
        #{fileId,jdbcType=VARCHAR},
      </if>
      <if test="college != null">
        #{college,jdbcType=VARCHAR},
      </if>
      <if test="cultivateName != null">
        #{cultivateName,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.fdongl.point.entity.MapCultivateFile">
    <!--@mbg.generated-->
    update map_cultivate_file
    <set>
      <if test="fileId != null">
        file_id = #{fileId,jdbcType=VARCHAR},
      </if>
      <if test="college != null">
        college = #{college,jdbcType=VARCHAR},
      </if>
      <if test="cultivateName != null">
        cultivate_name = #{cultivateName,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        grade = #{grade,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.fdongl.point.entity.MapCultivateFile">
    <!--@mbg.generated-->
    update map_cultivate_file
    set file_id = #{fileId,jdbcType=VARCHAR},
      college = #{college,jdbcType=VARCHAR},
      cultivate_name = #{cultivateName,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>