<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fdongl.point.mapper.MapDepartmentIndexMapper">
  <resultMap id="BaseResultMap" type="cn.fdongl.point.entity.MapDepartmentIndex">
    <!--@mbg.generated-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="index_id" jdbcType="VARCHAR" property="indexId" />
    <result column="student_grade" jdbcType="VARCHAR" property="studentGrade" />
    <result column="department_name" jdbcType="VARCHAR" property="departmentName" />
    <result column="majority_name" jdbcType="VARCHAR" property="majorityName" />
    <result column="period" jdbcType="INTEGER" property="period" />
    <result column="create_user_id" jdbcType="VARCHAR" property="createUserId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_user_id" jdbcType="VARCHAR" property="modifyUserId" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, index_id, student_grade, department_name, majority_name, period, create_user_id, 
    create_date, modify_user_id, modify_date, `status`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from map_department_index
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from map_department_index
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.fdongl.point.entity.MapDepartmentIndex">
    <!--@mbg.generated-->
    insert into map_department_index (id, index_id, student_grade, 
      department_name, majority_name, period, 
      create_user_id, create_date, modify_user_id, 
      modify_date, `status`)
    values (#{id,jdbcType=VARCHAR}, #{indexId,jdbcType=VARCHAR}, #{studentGrade,jdbcType=VARCHAR}, 
      #{departmentName,jdbcType=VARCHAR}, #{majorityName,jdbcType=VARCHAR}, #{period,jdbcType=INTEGER}, 
      #{createUserId,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{modifyUserId,jdbcType=VARCHAR}, 
      #{modifyDate,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.fdongl.point.entity.MapDepartmentIndex">
    <!--@mbg.generated-->
    insert into map_department_index
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="indexId != null">
        index_id,
      </if>
      <if test="studentGrade != null">
        student_grade,
      </if>
      <if test="departmentName != null">
        department_name,
      </if>
      <if test="majorityName != null">
        majority_name,
      </if>
      <if test="period != null">
        period,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifyUserId != null">
        modify_user_id,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
      <if test="status != null">
        `status`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="indexId != null">
        #{indexId,jdbcType=VARCHAR},
      </if>
      <if test="studentGrade != null">
        #{studentGrade,jdbcType=VARCHAR},
      </if>
      <if test="departmentName != null">
        #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="majorityName != null">
        #{majorityName,jdbcType=VARCHAR},
      </if>
      <if test="period != null">
        #{period,jdbcType=INTEGER},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null">
        #{modifyUserId,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.fdongl.point.entity.MapDepartmentIndex">
    <!--@mbg.generated-->
    update map_department_index
    <set>
      <if test="indexId != null">
        index_id = #{indexId,jdbcType=VARCHAR},
      </if>
      <if test="studentGrade != null">
        student_grade = #{studentGrade,jdbcType=VARCHAR},
      </if>
      <if test="departmentName != null">
        department_name = #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="majorityName != null">
        majority_name = #{majorityName,jdbcType=VARCHAR},
      </if>
      <if test="period != null">
        period = #{period,jdbcType=INTEGER},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null">
        modify_user_id = #{modifyUserId,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null">
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.fdongl.point.entity.MapDepartmentIndex">
    <!--@mbg.generated-->
    update map_department_index
    set index_id = #{indexId,jdbcType=VARCHAR},
      student_grade = #{studentGrade,jdbcType=VARCHAR},
      department_name = #{departmentName,jdbcType=VARCHAR},
      majority_name = #{majorityName,jdbcType=VARCHAR},
      period = #{period,jdbcType=INTEGER},
      create_user_id = #{createUserId,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_user_id = #{modifyUserId,jdbcType=VARCHAR},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      `status` = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>