<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fdongl.point.mapper.SysIndexMapper">
    <resultMap id="BaseResultMap" type="cn.fdongl.point.entity.SysIndex">
        <!--@mbg.generated-->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="index_number" jdbcType="VARCHAR" property="indexNumber"/>
        <result column="index_title" jdbcType="VARCHAR" property="indexTitle"/>
        <result column="index_content" jdbcType="VARCHAR" property="indexContent"/>
        <result column="parent_id" jdbcType="VARCHAR" property="parentId"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="create_user_id" jdbcType="VARCHAR" property="createUserId"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="modify_user_id" jdbcType="VARCHAR" property="modifyUserId"/>
        <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
    </resultMap>

    <resultMap id="ResultMapWithEvaluationValue" type="cn.fdongl.point.entity.SysIndex">
        <!--@mbg.generated-->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="index_number" jdbcType="VARCHAR" property="indexNumber"/>
        <result column="index_title" jdbcType="VARCHAR" property="indexTitle"/>
        <result column="index_content" jdbcType="VARCHAR" property="indexContent"/>
        <result column="evaluation_value" jdbcType="VARCHAR" property="evaluationValue"/>
        <result column="parent_id" jdbcType="VARCHAR" property="parentId"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="create_user_id" jdbcType="VARCHAR" property="createUserId"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="modify_user_id" jdbcType="VARCHAR" property="modifyUserId"/>
        <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, index_number, index_title, index_content, parent_id, sort, create_user_id, create_date,
        modify_user_id, modify_date, `status`
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from sys_index
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--@mbg.generated-->
        delete from sys_index
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="cn.fdongl.point.entity.SysIndex">
        <!--@mbg.generated-->
        insert into sys_index (id, index_number, index_title,
        index_content, parent_id, sort,
        create_user_id, create_date, modify_user_id,
        modify_date, `status`)
        values (#{id,jdbcType=VARCHAR}, #{indexNumber,jdbcType=VARCHAR}, #{indexTitle,jdbcType=VARCHAR},
        #{indexContent,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER},
        #{createUserId,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{modifyUserId,jdbcType=VARCHAR},
        #{modifyDate,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="cn.fdongl.point.entity.SysIndex">
        <!--@mbg.generated-->
        insert into sys_index
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="indexNumber != null">
                index_number,
            </if>
            <if test="indexTitle != null">
                index_title,
            </if>
            <if test="indexContent != null">
                index_content,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="createUserId != null">
                create_user_id,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="modifyUserId != null">
                modify_user_id,
            </if>
            <if test="modifyDate != null">
                modify_date,
            </if>
            <if test="status != null">
                `status`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="indexNumber != null">
                #{indexNumber,jdbcType=VARCHAR},
            </if>
            <if test="indexTitle != null">
                #{indexTitle,jdbcType=VARCHAR},
            </if>
            <if test="indexContent != null">
                #{indexContent,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="createUserId != null">
                #{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyUserId != null">
                #{modifyUserId,jdbcType=VARCHAR},
            </if>
            <if test="modifyDate != null">
                #{modifyDate,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.fdongl.point.entity.SysIndex">
        <!--@mbg.generated-->
        update sys_index
        <set>
            <if test="indexNumber != null">
                index_number = #{indexNumber,jdbcType=VARCHAR},
            </if>
            <if test="indexTitle != null">
                index_title = #{indexTitle,jdbcType=VARCHAR},
            </if>
            <if test="indexContent != null">
                index_content = #{indexContent,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="createUserId != null">
                create_user_id = #{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyUserId != null">
                modify_user_id = #{modifyUserId,jdbcType=VARCHAR},
            </if>
            <if test="modifyDate != null">
                modify_date = #{modifyDate,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.fdongl.point.entity.SysIndex">
        <!--@mbg.generated-->
        update sys_index
        set index_number = #{indexNumber,jdbcType=VARCHAR},
        index_title = #{indexTitle,jdbcType=VARCHAR},
        index_content = #{indexContent,jdbcType=VARCHAR},
        parent_id = #{parentId,jdbcType=VARCHAR},
        sort = #{sort,jdbcType=INTEGER},
        create_user_id = #{createUserId,jdbcType=VARCHAR},
        create_date = #{createDate,jdbcType=TIMESTAMP},
        modify_user_id = #{modifyUserId,jdbcType=VARCHAR},
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
        `status` = #{status,jdbcType=INTEGER}
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <select id="selectByIdAndDate" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from sys_index where sys_index.index_number=#{number,jdbcType=VARCHAR} order by sys_index.create_date
        asc limit 1
    </select>
    <insert id="insertList" parameterType="cn.fdongl.point.entity.SysIndex">
        insert into sys_index (id, index_number, index_title,
        index_content, parent_id, sort,
        create_user_id, create_date, modify_user_id,
        modify_date, `status`)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id,jdbcType=VARCHAR}, #{item.indexNumber,jdbcType=VARCHAR}, #{item.indexTitle,jdbcType=VARCHAR},
            #{item.indexContent,jdbcType=VARCHAR}, #{item.parentId,jdbcType=VARCHAR}, #{item.sort,jdbcType=INTEGER},
            #{item.createUserId,jdbcType=VARCHAR}, #{item.createDate,jdbcType=TIMESTAMP},
            #{item.modifyUserId,jdbcType=VARCHAR},
            #{item.modifyDate,jdbcType=TIMESTAMP}, #{item.status,jdbcType=INTEGER})
        </foreach>
    </insert>

    <select id="selectByStudentWorkIdAndCourseSelectNumber" resultMap="ResultMapWithEvaluationValue">
      select
        a.evaluation_value,
        b.*
      from (
      select index_id,evaluation_value
      from index_point.map_student_evaluation
      where student_work_id = #{studentWorkId,jdbcType=VARCHAR}
      and course_select_number = #{courseSelectNumber,jdbcType=VARCHAR}) a
      left join index_point.sys_index b
      on a.index_id = b.id
  </select>

</mapper>